---
layout: default
---

<div class="social-links-home" style="margin-bottom: 20px;">
  <a href="https://github.com/gustavvising" target="_blank">GitHub</a> | 
  <a href="https://www.linkedin.com/in/gustav-vising-7104a3379" target="_blank">LinkedIn</a>
</div>


<hr style="margin: 40px 0 !important;">

{{ content }}

<h2 style="margin-top: 0 !important; margin-bottom: 25px !important;">Writeups</h2>

<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    </li>
  {% endfor %}
</ul>
